<ion-header>
  <ion-toolbar>
    <ion-title>servicosPropios</ion-title>
    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="pricetag" (click)="openAlert()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<br>
<br>
<ion-label>Tus servicios</ion-label>
<br>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of servicios['servicios']">
      <ion-avatar slot="start">
        <img src="assets/img/1658621505505-fontanero1.jpg" />
      </ion-avatar>
      <ion-label [routerLink]="['/seresp',item._id]">
        <h2>{{item.titulo}}</h2>
        <h3>{{item.ciudad}}</h3>
        <p>{{item.descripcion}}</p>


      </ion-label>
      <ion-buttons slot="end">
        <ion-icon slot="icon-only" name="ban" (click)="eliminarServicio(item._id)"></ion-icon>
      </ion-buttons>
    </ion-item>



  </ion-list>
</ion-content>